<div class="container" [formGroup]="dataFormGroup">
    <div class="p-card">
        <p-card header="Seleccione">
                <p-dropdown formControlName="selectedFamily" (onClick)="onChange($event)" [options]="familyOptions"
                    placeholder="Familia">
                </p-dropdown>
                <p-dropdown formControlName="selectedMetric" (onClick)="onChange($event)" [options]="metricsOptions"
                    placeholder="Metrica">
                </p-dropdown>
                <p-dropdown formControlName="selectedDate" (onClick)="onChange($event)" [options]="yearsOptions"
                    placeholder="Año">
                </p-dropdown>
                <br><br>
                <p-button label="Buscar" (onClick)="calculate()"></p-button>
        </p-card>
    </div>

    <div class="p-card">
        <p-card header="Datos">
            <p-table *ngIf="showData" [value]="filteredData" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Mes</th>
                        <th>{{dataFormGroup.controls['selectedMetric'].value}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-filteredData>
                    <tr>
                        <td>{{filteredData.date | date :'MMMM'}}</td>
                        <td>{{filteredData.amount}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                </ng-template>
                <ng-template pTemplate="paginatorright">
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>